(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2004 7 8 10 28 47)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 4.1i"))))
   (comment "This file is owned and controlled by Xilinx and must be used
solely for design, simulation, implementation and creation of design files
limited to Xilinx devices or technologies. Use with non-Xilinx devices or
technologies is expressly prohibited and immediately terminates your license.
Xilinx products are not intended for use in life support appliances, devices,
or systems. Use in such applications are expressly prohibited.
Copyright (C) 2001, Xilinx, Inc.  All Rights Reserved.")
   (comment "Core parameters: ")
       (comment "c_has_aset = false ")
       (comment "c_has_en = false ")
       (comment "c_sync_priority = 1 ")
       (comment "c_has_sclr = false ")
       (comment "c_width = 4 ")
       (comment "c_enable_rlocs = true ")
       (comment "c_sel_width = 1 ")
       (comment "c_latency = 0 ")
       (comment "c_ainit_val = 0000 ")
       (comment "c_has_ce = false ")
       (comment "c_family = virtex ")
       (comment "c_mux_type = 0 ")
       (comment "InstanceName = mux2to1 ")
       (comment "c_has_aclr = false ")
       (comment "c_sync_enable = 0 ")
       (comment "c_sinit_val = 0000 ")
       (comment "c_has_ainit = false ")
       (comment "c_has_sset = false ")
       (comment "c_has_sinit = false ")
       (comment "c_has_q = false ")
       (comment "c_has_o = true ")
       (comment "c_inputs = 2 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell mux2to1
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename MA_0_ "MA<0>") (direction INPUT))
   (port ( rename MA_1_ "MA<1>") (direction INPUT))
   (port ( rename MA_2_ "MA<2>") (direction INPUT))
   (port ( rename MA_3_ "MA<3>") (direction INPUT))
   (port ( rename MB_0_ "MB<0>") (direction INPUT))
   (port ( rename MB_1_ "MB<1>") (direction INPUT))
   (port ( rename MB_2_ "MB<2>") (direction INPUT))
   (port ( rename MB_3_ "MB<3>") (direction INPUT))
   (port ( rename S_0_ "S<0>") (direction INPUT))
   (port ( rename O_0_ "O<0>") (direction OUTPUT))
   (port ( rename O_1_ "O<1>") (direction OUTPUT))
   (port ( rename O_2_ "O<2>") (direction OUTPUT))
   (port ( rename O_3_ "O<3>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU0
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU1
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU2
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU3
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "caca"))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef I3 (instanceRef BU0))
      (portRef I3 (instanceRef BU1))
      (portRef I3 (instanceRef BU2))
      (portRef I3 (instanceRef BU3))
    )
   )
   (net (rename N2 "MA<0>")
    (joined
      (portRef MA_0_)
      (portRef I0 (instanceRef BU0))
    )
   )
   (net (rename N3 "MB<0>")
    (joined
      (portRef MB_0_)
      (portRef I1 (instanceRef BU0))
    )
   )
   (net (rename N9 "MA<1>")
    (joined
      (portRef MA_1_)
      (portRef I0 (instanceRef BU1))
    )
   )
   (net (rename N10 "MB<1>")
    (joined
      (portRef MB_1_)
      (portRef I1 (instanceRef BU1))
    )
   )
   (net (rename N16 "MA<2>")
    (joined
      (portRef MA_2_)
      (portRef I0 (instanceRef BU2))
    )
   )
   (net (rename N17 "MB<2>")
    (joined
      (portRef MB_2_)
      (portRef I1 (instanceRef BU2))
    )
   )
   (net (rename N23 "MA<3>")
    (joined
      (portRef MA_3_)
      (portRef I0 (instanceRef BU3))
    )
   )
   (net (rename N24 "MB<3>")
    (joined
      (portRef MB_3_)
      (portRef I1 (instanceRef BU3))
    )
   )
   (net (rename N38 "S<0>")
    (joined
      (portRef S_0_)
      (portRef I2 (instanceRef BU0))
      (portRef I2 (instanceRef BU1))
      (portRef I2 (instanceRef BU2))
      (portRef I2 (instanceRef BU3))
    )
   )
   (net (rename N39 "O<0>")
    (joined
      (portRef O_0_)
      (portRef O (instanceRef BU0))
    )
   )
   (net (rename N40 "O<1>")
    (joined
      (portRef O_1_)
      (portRef O (instanceRef BU1))
    )
   )
   (net (rename N41 "O<2>")
    (joined
      (portRef O_2_)
      (portRef O (instanceRef BU2))
    )
   )
   (net (rename N42 "O<3>")
    (joined
      (portRef O_3_)
      (portRef O (instanceRef BU3))
    )
   )
))))
(design mux2to1 (cellRef mux2to1 (libraryRef test_lib))
  (property PART (string "XCV100BG256") (owner "Xilinx")))
)
