SCHEMATIC START ;
// created by map version E.30 on Sat Aug 14 17:47:10 2004 
COMP "ppdata<0>" LOCATE = SITE "P177" LEVEL 1; 
COMP "ppdata<1>" LOCATE = SITE "P167" LEVEL 1; 
COMP "ppdata<2>" LOCATE = SITE "P163" LEVEL 1; 
COMP "ppdata<3>" LOCATE = SITE "P156" LEVEL 1; 
COMP "ppdata<4>" LOCATE = SITE "P145" LEVEL 1; 
COMP "ppdata<5>" LOCATE = SITE "P138" LEVEL 1; 
COMP "ppdata<6>" LOCATE = SITE "P134" LEVEL 1; 
COMP "ppdata<7>" LOCATE = SITE "P124" LEVEL 1; 
COMP "ldata<0>" LOCATE = SITE "P202" LEVEL 1; 
COMP "ldata<1>" LOCATE = SITE "P203" LEVEL 1; 
COMP "ldata<2>" LOCATE = SITE "P205" LEVEL 1; 
COMP "ldata<3>" LOCATE = SITE "P206" LEVEL 1; 
COMP "ldata<4>" LOCATE = SITE "P207" LEVEL 1; 
COMP "ldata<5>" LOCATE = SITE "P208" LEVEL 1; 
COMP "ldata<6>" LOCATE = SITE "P209" LEVEL 1; 
COMP "ldata<7>" LOCATE = SITE "P215" LEVEL 1; 
COMP "ldata<8>" LOCATE = SITE "P216" LEVEL 1; 
COMP "ldata<9>" LOCATE = SITE "P217" LEVEL 1; 
COMP "overflow" LOCATE = SITE "P157" LEVEL 1; 
COMP "clock" LOCATE = SITE "P89" LEVEL 1; 
COMP "ldata<10>" LOCATE = SITE "P218" LEVEL 1; 
COMP "ldata<11>" LOCATE = SITE "P220" LEVEL 1; 
COMP "ldata<12>" LOCATE = SITE "P221" LEVEL 1; 
COMP "ldata<13>" LOCATE = SITE "P222" LEVEL 1; 
COMP "ldata<14>" LOCATE = SITE "P223" LEVEL 1; 
COMP "ldata<15>" LOCATE = SITE "P224" LEVEL 1; 
COMP "reset" LOCATE = SITE "P161" LEVEL 1; 
COMP "start" LOCATE = SITE "P174" LEVEL 1; 
COMP "finish" LOCATE = SITE "P168" LEVEL 1; 
COMP "lcen" LOCATE = SITE "P186" LEVEL 1; 
COMP "loen" LOCATE = SITE "P228" LEVEL 1; 
COMP "lwen" LOCATE = SITE "P201" LEVEL 1; 
COMP "zero" LOCATE = SITE "P160" LEVEL 1; 
COMP "ppstatus3" LOCATE = SITE "P132" LEVEL 1; 
COMP "ppstatus4" LOCATE = SITE "P133" LEVEL 1; 
COMP "ppstatus5" LOCATE = SITE "P139" LEVEL 1; 
COMP "ppstatus6" LOCATE = SITE "P141" LEVEL 1; 
COMP "laddr<10>" LOCATE = SITE "P238" LEVEL 1; 
COMP "laddr<11>" LOCATE = SITE "P237" LEVEL 1; 
COMP "laddr<12>" LOCATE = SITE "P236" LEVEL 1; 
COMP "laddr<13>" LOCATE = SITE "P235" LEVEL 1; 
COMP "laddr<14>" LOCATE = SITE "P234" LEVEL 1; 
COMP "laddr<15>" LOCATE = SITE "P232" LEVEL 1; 
COMP "laddr16" LOCATE = SITE "P231" LEVEL 1; 
COMP "laddr<0>" LOCATE = SITE "P200" LEVEL 1; 
COMP "laddr17" LOCATE = SITE "P230" LEVEL 1; 
COMP "laddr18" LOCATE = SITE "P229" LEVEL 1; 
COMP "laddr<1>" LOCATE = SITE "P199" LEVEL 1; 
COMP "laddr<2>" LOCATE = SITE "P195" LEVEL 1; 
COMP "laddr<3>" LOCATE = SITE "P194" LEVEL 1; 
COMP "laddr<4>" LOCATE = SITE "P193" LEVEL 1; 
COMP "laddr<5>" LOCATE = SITE "P192" LEVEL 1; 
COMP "laddr<6>" LOCATE = SITE "P191" LEVEL 1; 
COMP "laddr<7>" LOCATE = SITE "P189" LEVEL 1; 
COMP "laddr<8>" LOCATE = SITE "P188" LEVEL 1; 
COMP "laddr<9>" LOCATE = SITE "P187" LEVEL 1; 
SCHEMATIC END ;
