(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2004 7 6 11 14 50)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 4.1i"))))
   (comment "This file is owned and controlled by Xilinx and must be used
solely for design, simulation, implementation and creation of design files
limited to Xilinx devices or technologies. Use with non-Xilinx devices or
technologies is expressly prohibited and immediately terminates your license.
Xilinx products are not intended for use in life support appliances, devices,
or systems. Use in such applications are expressly prohibited.
Copyright (C) 2001, Xilinx, Inc.  All Rights Reserved.")
   (comment "Core parameters: ")
       (comment "c_has_aset = false ")
       (comment "c_has_en = false ")
       (comment "c_sync_priority = 1 ")
       (comment "c_has_sclr = false ")
       (comment "c_width = 16 ")
       (comment "c_enable_rlocs = true ")
       (comment "c_sel_width = 1 ")
       (comment "c_latency = 0 ")
       (comment "c_ainit_val = 0000000000000000 ")
       (comment "c_has_ce = false ")
       (comment "c_family = virtex ")
       (comment "c_mux_type = 0 ")
       (comment "InstanceName = mux2to1 ")
       (comment "c_has_aclr = false ")
       (comment "c_sync_enable = 0 ")
       (comment "c_sinit_val = 0000000000000000 ")
       (comment "c_has_ainit = false ")
       (comment "c_has_sset = false ")
       (comment "c_has_sinit = false ")
       (comment "c_has_q = false ")
       (comment "c_has_o = true ")
       (comment "c_inputs = 2 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell mux2to1
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename MA_0_ "MA<0>") (direction INPUT))
   (port ( rename MA_1_ "MA<1>") (direction INPUT))
   (port ( rename MA_2_ "MA<2>") (direction INPUT))
   (port ( rename MA_3_ "MA<3>") (direction INPUT))
   (port ( rename MA_4_ "MA<4>") (direction INPUT))
   (port ( rename MA_5_ "MA<5>") (direction INPUT))
   (port ( rename MA_6_ "MA<6>") (direction INPUT))
   (port ( rename MA_7_ "MA<7>") (direction INPUT))
   (port ( rename MA_8_ "MA<8>") (direction INPUT))
   (port ( rename MA_9_ "MA<9>") (direction INPUT))
   (port ( rename MA_10_ "MA<10>") (direction INPUT))
   (port ( rename MA_11_ "MA<11>") (direction INPUT))
   (port ( rename MA_12_ "MA<12>") (direction INPUT))
   (port ( rename MA_13_ "MA<13>") (direction INPUT))
   (port ( rename MA_14_ "MA<14>") (direction INPUT))
   (port ( rename MA_15_ "MA<15>") (direction INPUT))
   (port ( rename MB_0_ "MB<0>") (direction INPUT))
   (port ( rename MB_1_ "MB<1>") (direction INPUT))
   (port ( rename MB_2_ "MB<2>") (direction INPUT))
   (port ( rename MB_3_ "MB<3>") (direction INPUT))
   (port ( rename MB_4_ "MB<4>") (direction INPUT))
   (port ( rename MB_5_ "MB<5>") (direction INPUT))
   (port ( rename MB_6_ "MB<6>") (direction INPUT))
   (port ( rename MB_7_ "MB<7>") (direction INPUT))
   (port ( rename MB_8_ "MB<8>") (direction INPUT))
   (port ( rename MB_9_ "MB<9>") (direction INPUT))
   (port ( rename MB_10_ "MB<10>") (direction INPUT))
   (port ( rename MB_11_ "MB<11>") (direction INPUT))
   (port ( rename MB_12_ "MB<12>") (direction INPUT))
   (port ( rename MB_13_ "MB<13>") (direction INPUT))
   (port ( rename MB_14_ "MB<14>") (direction INPUT))
   (port ( rename MB_15_ "MB<15>") (direction INPUT))
   (port ( rename S_0_ "S<0>") (direction INPUT))
   (port ( rename O_0_ "O<0>") (direction OUTPUT))
   (port ( rename O_1_ "O<1>") (direction OUTPUT))
   (port ( rename O_2_ "O<2>") (direction OUTPUT))
   (port ( rename O_3_ "O<3>") (direction OUTPUT))
   (port ( rename O_4_ "O<4>") (direction OUTPUT))
   (port ( rename O_5_ "O<5>") (direction OUTPUT))
   (port ( rename O_6_ "O<6>") (direction OUTPUT))
   (port ( rename O_7_ "O<7>") (direction OUTPUT))
   (port ( rename O_8_ "O<8>") (direction OUTPUT))
   (port ( rename O_9_ "O<9>") (direction OUTPUT))
   (port ( rename O_10_ "O<10>") (direction OUTPUT))
   (port ( rename O_11_ "O<11>") (direction OUTPUT))
   (port ( rename O_12_ "O<12>") (direction OUTPUT))
   (port ( rename O_13_ "O<13>") (direction OUTPUT))
   (port ( rename O_14_ "O<14>") (direction OUTPUT))
   (port ( rename O_15_ "O<15>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU0
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r7c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU1
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r7c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU2
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r6c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU3
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r6c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU4
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r5c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU5
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r5c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU6
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r4c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU7
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r4c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU8
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU9
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU10
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU11
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU12
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU13
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU14
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU15
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "caca"))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef I3 (instanceRef BU0))
      (portRef I3 (instanceRef BU1))
      (portRef I3 (instanceRef BU2))
      (portRef I3 (instanceRef BU3))
      (portRef I3 (instanceRef BU4))
      (portRef I3 (instanceRef BU5))
      (portRef I3 (instanceRef BU6))
      (portRef I3 (instanceRef BU7))
      (portRef I3 (instanceRef BU8))
      (portRef I3 (instanceRef BU9))
      (portRef I3 (instanceRef BU10))
      (portRef I3 (instanceRef BU11))
      (portRef I3 (instanceRef BU12))
      (portRef I3 (instanceRef BU13))
      (portRef I3 (instanceRef BU14))
      (portRef I3 (instanceRef BU15))
    )
   )
   (net (rename N2 "MA<0>")
    (joined
      (portRef MA_0_)
      (portRef I0 (instanceRef BU0))
    )
   )
   (net (rename N3 "MB<0>")
    (joined
      (portRef MB_0_)
      (portRef I1 (instanceRef BU0))
    )
   )
   (net (rename N9 "MA<1>")
    (joined
      (portRef MA_1_)
      (portRef I0 (instanceRef BU1))
    )
   )
   (net (rename N10 "MB<1>")
    (joined
      (portRef MB_1_)
      (portRef I1 (instanceRef BU1))
    )
   )
   (net (rename N16 "MA<2>")
    (joined
      (portRef MA_2_)
      (portRef I0 (instanceRef BU2))
    )
   )
   (net (rename N17 "MB<2>")
    (joined
      (portRef MB_2_)
      (portRef I1 (instanceRef BU2))
    )
   )
   (net (rename N23 "MA<3>")
    (joined
      (portRef MA_3_)
      (portRef I0 (instanceRef BU3))
    )
   )
   (net (rename N24 "MB<3>")
    (joined
      (portRef MB_3_)
      (portRef I1 (instanceRef BU3))
    )
   )
   (net (rename N30 "MA<4>")
    (joined
      (portRef MA_4_)
      (portRef I0 (instanceRef BU4))
    )
   )
   (net (rename N31 "MB<4>")
    (joined
      (portRef MB_4_)
      (portRef I1 (instanceRef BU4))
    )
   )
   (net (rename N37 "MA<5>")
    (joined
      (portRef MA_5_)
      (portRef I0 (instanceRef BU5))
    )
   )
   (net (rename N38 "MB<5>")
    (joined
      (portRef MB_5_)
      (portRef I1 (instanceRef BU5))
    )
   )
   (net (rename N44 "MA<6>")
    (joined
      (portRef MA_6_)
      (portRef I0 (instanceRef BU6))
    )
   )
   (net (rename N45 "MB<6>")
    (joined
      (portRef MB_6_)
      (portRef I1 (instanceRef BU6))
    )
   )
   (net (rename N51 "MA<7>")
    (joined
      (portRef MA_7_)
      (portRef I0 (instanceRef BU7))
    )
   )
   (net (rename N52 "MB<7>")
    (joined
      (portRef MB_7_)
      (portRef I1 (instanceRef BU7))
    )
   )
   (net (rename N58 "MA<8>")
    (joined
      (portRef MA_8_)
      (portRef I0 (instanceRef BU8))
    )
   )
   (net (rename N59 "MB<8>")
    (joined
      (portRef MB_8_)
      (portRef I1 (instanceRef BU8))
    )
   )
   (net (rename N65 "MA<9>")
    (joined
      (portRef MA_9_)
      (portRef I0 (instanceRef BU9))
    )
   )
   (net (rename N66 "MB<9>")
    (joined
      (portRef MB_9_)
      (portRef I1 (instanceRef BU9))
    )
   )
   (net (rename N72 "MA<10>")
    (joined
      (portRef MA_10_)
      (portRef I0 (instanceRef BU10))
    )
   )
   (net (rename N73 "MB<10>")
    (joined
      (portRef MB_10_)
      (portRef I1 (instanceRef BU10))
    )
   )
   (net (rename N79 "MA<11>")
    (joined
      (portRef MA_11_)
      (portRef I0 (instanceRef BU11))
    )
   )
   (net (rename N80 "MB<11>")
    (joined
      (portRef MB_11_)
      (portRef I1 (instanceRef BU11))
    )
   )
   (net (rename N86 "MA<12>")
    (joined
      (portRef MA_12_)
      (portRef I0 (instanceRef BU12))
    )
   )
   (net (rename N87 "MB<12>")
    (joined
      (portRef MB_12_)
      (portRef I1 (instanceRef BU12))
    )
   )
   (net (rename N93 "MA<13>")
    (joined
      (portRef MA_13_)
      (portRef I0 (instanceRef BU13))
    )
   )
   (net (rename N94 "MB<13>")
    (joined
      (portRef MB_13_)
      (portRef I1 (instanceRef BU13))
    )
   )
   (net (rename N100 "MA<14>")
    (joined
      (portRef MA_14_)
      (portRef I0 (instanceRef BU14))
    )
   )
   (net (rename N101 "MB<14>")
    (joined
      (portRef MB_14_)
      (portRef I1 (instanceRef BU14))
    )
   )
   (net (rename N107 "MA<15>")
    (joined
      (portRef MA_15_)
      (portRef I0 (instanceRef BU15))
    )
   )
   (net (rename N108 "MB<15>")
    (joined
      (portRef MB_15_)
      (portRef I1 (instanceRef BU15))
    )
   )
   (net (rename N146 "S<0>")
    (joined
      (portRef S_0_)
      (portRef I2 (instanceRef BU0))
      (portRef I2 (instanceRef BU1))
      (portRef I2 (instanceRef BU2))
      (portRef I2 (instanceRef BU3))
      (portRef I2 (instanceRef BU4))
      (portRef I2 (instanceRef BU5))
      (portRef I2 (instanceRef BU6))
      (portRef I2 (instanceRef BU7))
      (portRef I2 (instanceRef BU8))
      (portRef I2 (instanceRef BU9))
      (portRef I2 (instanceRef BU10))
      (portRef I2 (instanceRef BU11))
      (portRef I2 (instanceRef BU12))
      (portRef I2 (instanceRef BU13))
      (portRef I2 (instanceRef BU14))
      (portRef I2 (instanceRef BU15))
    )
   )
   (net (rename N147 "O<0>")
    (joined
      (portRef O_0_)
      (portRef O (instanceRef BU0))
    )
   )
   (net (rename N148 "O<1>")
    (joined
      (portRef O_1_)
      (portRef O (instanceRef BU1))
    )
   )
   (net (rename N149 "O<2>")
    (joined
      (portRef O_2_)
      (portRef O (instanceRef BU2))
    )
   )
   (net (rename N150 "O<3>")
    (joined
      (portRef O_3_)
      (portRef O (instanceRef BU3))
    )
   )
   (net (rename N151 "O<4>")
    (joined
      (portRef O_4_)
      (portRef O (instanceRef BU4))
    )
   )
   (net (rename N152 "O<5>")
    (joined
      (portRef O_5_)
      (portRef O (instanceRef BU5))
    )
   )
   (net (rename N153 "O<6>")
    (joined
      (portRef O_6_)
      (portRef O (instanceRef BU6))
    )
   )
   (net (rename N154 "O<7>")
    (joined
      (portRef O_7_)
      (portRef O (instanceRef BU7))
    )
   )
   (net (rename N155 "O<8>")
    (joined
      (portRef O_8_)
      (portRef O (instanceRef BU8))
    )
   )
   (net (rename N156 "O<9>")
    (joined
      (portRef O_9_)
      (portRef O (instanceRef BU9))
    )
   )
   (net (rename N157 "O<10>")
    (joined
      (portRef O_10_)
      (portRef O (instanceRef BU10))
    )
   )
   (net (rename N158 "O<11>")
    (joined
      (portRef O_11_)
      (portRef O (instanceRef BU11))
    )
   )
   (net (rename N159 "O<12>")
    (joined
      (portRef O_12_)
      (portRef O (instanceRef BU12))
    )
   )
   (net (rename N160 "O<13>")
    (joined
      (portRef O_13_)
      (portRef O (instanceRef BU13))
    )
   )
   (net (rename N161 "O<14>")
    (joined
      (portRef O_14_)
      (portRef O (instanceRef BU14))
    )
   )
   (net (rename N162 "O<15>")
    (joined
      (portRef O_15_)
      (portRef O (instanceRef BU15))
    )
   )
))))
(design mux2to1 (cellRef mux2to1 (libraryRef test_lib))
  (property PART (string "XCV100BG256") (owner "Xilinx")))
)
