(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2004 7 9 10 20 44)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 4.1i"))))
   (comment "This file is owned and controlled by Xilinx and must be used
solely for design, simulation, implementation and creation of design files
limited to Xilinx devices or technologies. Use with non-Xilinx devices or
technologies is expressly prohibited and immediately terminates your license.
Xilinx products are not intended for use in life support appliances, devices,
or systems. Use in such applications are expressly prohibited.
Copyright (C) 2001, Xilinx, Inc.  All Rights Reserved.")
   (comment "Core parameters: ")
       (comment "c_has_aset = false ")
       (comment "c_has_en = false ")
       (comment "c_sync_priority = 1 ")
       (comment "c_has_sclr = false ")
       (comment "c_width = 4 ")
       (comment "c_enable_rlocs = true ")
       (comment "c_sel_width = 3 ")
       (comment "c_latency = 0 ")
       (comment "c_ainit_val = 0000 ")
       (comment "c_has_ce = false ")
       (comment "c_family = virtex ")
       (comment "c_mux_type = 0 ")
       (comment "InstanceName = mux8to1 ")
       (comment "c_has_aclr = false ")
       (comment "c_sync_enable = 0 ")
       (comment "c_sinit_val = 0000 ")
       (comment "c_has_ainit = false ")
       (comment "c_has_sset = false ")
       (comment "c_has_sinit = false ")
       (comment "c_has_q = false ")
       (comment "c_has_o = true ")
       (comment "c_inputs = 8 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell MUXF5 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port S (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell MUXF6 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port S (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell mux8to1
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename MA_0_ "MA<0>") (direction INPUT))
   (port ( rename MA_1_ "MA<1>") (direction INPUT))
   (port ( rename MA_2_ "MA<2>") (direction INPUT))
   (port ( rename MA_3_ "MA<3>") (direction INPUT))
   (port ( rename MB_0_ "MB<0>") (direction INPUT))
   (port ( rename MB_1_ "MB<1>") (direction INPUT))
   (port ( rename MB_2_ "MB<2>") (direction INPUT))
   (port ( rename MB_3_ "MB<3>") (direction INPUT))
   (port ( rename MC_0_ "MC<0>") (direction INPUT))
   (port ( rename MC_1_ "MC<1>") (direction INPUT))
   (port ( rename MC_2_ "MC<2>") (direction INPUT))
   (port ( rename MC_3_ "MC<3>") (direction INPUT))
   (port ( rename MD_0_ "MD<0>") (direction INPUT))
   (port ( rename MD_1_ "MD<1>") (direction INPUT))
   (port ( rename MD_2_ "MD<2>") (direction INPUT))
   (port ( rename MD_3_ "MD<3>") (direction INPUT))
   (port ( rename ME_0_ "ME<0>") (direction INPUT))
   (port ( rename ME_1_ "ME<1>") (direction INPUT))
   (port ( rename ME_2_ "ME<2>") (direction INPUT))
   (port ( rename ME_3_ "ME<3>") (direction INPUT))
   (port ( rename MF_0_ "MF<0>") (direction INPUT))
   (port ( rename MF_1_ "MF<1>") (direction INPUT))
   (port ( rename MF_2_ "MF<2>") (direction INPUT))
   (port ( rename MF_3_ "MF<3>") (direction INPUT))
   (port ( rename MG_0_ "MG<0>") (direction INPUT))
   (port ( rename MG_1_ "MG<1>") (direction INPUT))
   (port ( rename MG_2_ "MG<2>") (direction INPUT))
   (port ( rename MG_3_ "MG<3>") (direction INPUT))
   (port ( rename MH_0_ "MH<0>") (direction INPUT))
   (port ( rename MH_1_ "MH<1>") (direction INPUT))
   (port ( rename MH_2_ "MH<2>") (direction INPUT))
   (port ( rename MH_3_ "MH<3>") (direction INPUT))
   (port ( rename S_0_ "S<0>") (direction INPUT))
   (port ( rename S_1_ "S<1>") (direction INPUT))
   (port ( rename S_2_ "S<2>") (direction INPUT))
   (port ( rename O_0_ "O<0>") (direction OUTPUT))
   (port ( rename O_1_ "O<1>") (direction OUTPUT))
   (port ( rename O_2_ "O<2>") (direction OUTPUT))
   (port ( rename O_3_ "O<3>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU0
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU1
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU2
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
   )
   (instance BU3
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU4
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU5
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S0"))
   )
   (instance BU6
      (viewRef view_1 (cellRef MUXF6 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S0"))
   )
   (instance BU7
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU8
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU9
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
   )
   (instance BU10
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU11
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU12
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S0"))
   )
   (instance BU13
      (viewRef view_1 (cellRef MUXF6 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S0"))
   )
   (instance BU14
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU15
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU16
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
   )
   (instance BU17
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU18
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU19
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
   )
   (instance BU20
      (viewRef view_1 (cellRef MUXF6 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
   )
   (instance BU21
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU22
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "caca"))
   )
   (instance BU23
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
   )
   (instance BU24
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU25
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S0"))
      (property INIT (string "caca"))
   )
   (instance BU26
      (viewRef view_1 (cellRef MUXF5 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S0"))
   )
   (instance BU27
      (viewRef view_1 (cellRef MUXF6 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S0"))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef I3 (instanceRef BU0))
      (portRef I3 (instanceRef BU1))
      (portRef I3 (instanceRef BU3))
      (portRef I3 (instanceRef BU4))
      (portRef I3 (instanceRef BU7))
      (portRef I3 (instanceRef BU8))
      (portRef I3 (instanceRef BU10))
      (portRef I3 (instanceRef BU11))
      (portRef I3 (instanceRef BU14))
      (portRef I3 (instanceRef BU15))
      (portRef I3 (instanceRef BU17))
      (portRef I3 (instanceRef BU18))
      (portRef I3 (instanceRef BU21))
      (portRef I3 (instanceRef BU22))
      (portRef I3 (instanceRef BU24))
      (portRef I3 (instanceRef BU25))
    )
   )
   (net (rename N2 "MA<0>")
    (joined
      (portRef MA_0_)
      (portRef I0 (instanceRef BU0))
    )
   )
   (net (rename N3 "MB<0>")
    (joined
      (portRef MB_0_)
      (portRef I1 (instanceRef BU0))
    )
   )
   (net (rename N4 "MC<0>")
    (joined
      (portRef MC_0_)
      (portRef I0 (instanceRef BU1))
    )
   )
   (net (rename N5 "MD<0>")
    (joined
      (portRef MD_0_)
      (portRef I1 (instanceRef BU1))
    )
   )
   (net (rename N6 "ME<0>")
    (joined
      (portRef ME_0_)
      (portRef I0 (instanceRef BU3))
    )
   )
   (net (rename N7 "MF<0>")
    (joined
      (portRef MF_0_)
      (portRef I1 (instanceRef BU3))
    )
   )
   (net (rename N8 "MG<0>")
    (joined
      (portRef MG_0_)
      (portRef I0 (instanceRef BU4))
    )
   )
   (net (rename N9 "MH<0>")
    (joined
      (portRef MH_0_)
      (portRef I1 (instanceRef BU4))
    )
   )
   (net (rename N27 "MA<1>")
    (joined
      (portRef MA_1_)
      (portRef I0 (instanceRef BU7))
    )
   )
   (net (rename N28 "MB<1>")
    (joined
      (portRef MB_1_)
      (portRef I1 (instanceRef BU7))
    )
   )
   (net (rename N29 "MC<1>")
    (joined
      (portRef MC_1_)
      (portRef I0 (instanceRef BU8))
    )
   )
   (net (rename N30 "MD<1>")
    (joined
      (portRef MD_1_)
      (portRef I1 (instanceRef BU8))
    )
   )
   (net (rename N31 "ME<1>")
    (joined
      (portRef ME_1_)
      (portRef I0 (instanceRef BU10))
    )
   )
   (net (rename N32 "MF<1>")
    (joined
      (portRef MF_1_)
      (portRef I1 (instanceRef BU10))
    )
   )
   (net (rename N33 "MG<1>")
    (joined
      (portRef MG_1_)
      (portRef I0 (instanceRef BU11))
    )
   )
   (net (rename N34 "MH<1>")
    (joined
      (portRef MH_1_)
      (portRef I1 (instanceRef BU11))
    )
   )
   (net (rename N52 "MA<2>")
    (joined
      (portRef MA_2_)
      (portRef I0 (instanceRef BU14))
    )
   )
   (net (rename N53 "MB<2>")
    (joined
      (portRef MB_2_)
      (portRef I1 (instanceRef BU14))
    )
   )
   (net (rename N54 "MC<2>")
    (joined
      (portRef MC_2_)
      (portRef I0 (instanceRef BU15))
    )
   )
   (net (rename N55 "MD<2>")
    (joined
      (portRef MD_2_)
      (portRef I1 (instanceRef BU15))
    )
   )
   (net (rename N56 "ME<2>")
    (joined
      (portRef ME_2_)
      (portRef I0 (instanceRef BU17))
    )
   )
   (net (rename N57 "MF<2>")
    (joined
      (portRef MF_2_)
      (portRef I1 (instanceRef BU17))
    )
   )
   (net (rename N58 "MG<2>")
    (joined
      (portRef MG_2_)
      (portRef I0 (instanceRef BU18))
    )
   )
   (net (rename N59 "MH<2>")
    (joined
      (portRef MH_2_)
      (portRef I1 (instanceRef BU18))
    )
   )
   (net (rename N77 "MA<3>")
    (joined
      (portRef MA_3_)
      (portRef I0 (instanceRef BU21))
    )
   )
   (net (rename N78 "MB<3>")
    (joined
      (portRef MB_3_)
      (portRef I1 (instanceRef BU21))
    )
   )
   (net (rename N79 "MC<3>")
    (joined
      (portRef MC_3_)
      (portRef I0 (instanceRef BU22))
    )
   )
   (net (rename N80 "MD<3>")
    (joined
      (portRef MD_3_)
      (portRef I1 (instanceRef BU22))
    )
   )
   (net (rename N81 "ME<3>")
    (joined
      (portRef ME_3_)
      (portRef I0 (instanceRef BU24))
    )
   )
   (net (rename N82 "MF<3>")
    (joined
      (portRef MF_3_)
      (portRef I1 (instanceRef BU24))
    )
   )
   (net (rename N83 "MG<3>")
    (joined
      (portRef MG_3_)
      (portRef I0 (instanceRef BU25))
    )
   )
   (net (rename N84 "MH<3>")
    (joined
      (portRef MH_3_)
      (portRef I1 (instanceRef BU25))
    )
   )
   (net (rename N134 "S<0>")
    (joined
      (portRef S_0_)
      (portRef I2 (instanceRef BU0))
      (portRef I2 (instanceRef BU1))
      (portRef I2 (instanceRef BU3))
      (portRef I2 (instanceRef BU4))
      (portRef I2 (instanceRef BU7))
      (portRef I2 (instanceRef BU8))
      (portRef I2 (instanceRef BU10))
      (portRef I2 (instanceRef BU11))
      (portRef I2 (instanceRef BU14))
      (portRef I2 (instanceRef BU15))
      (portRef I2 (instanceRef BU17))
      (portRef I2 (instanceRef BU18))
      (portRef I2 (instanceRef BU21))
      (portRef I2 (instanceRef BU22))
      (portRef I2 (instanceRef BU24))
      (portRef I2 (instanceRef BU25))
    )
   )
   (net (rename N135 "S<1>")
    (joined
      (portRef S_1_)
      (portRef S (instanceRef BU2))
      (portRef S (instanceRef BU5))
      (portRef S (instanceRef BU9))
      (portRef S (instanceRef BU12))
      (portRef S (instanceRef BU16))
      (portRef S (instanceRef BU19))
      (portRef S (instanceRef BU23))
      (portRef S (instanceRef BU26))
    )
   )
   (net (rename N136 "S<2>")
    (joined
      (portRef S_2_)
      (portRef S (instanceRef BU6))
      (portRef S (instanceRef BU13))
      (portRef S (instanceRef BU20))
      (portRef S (instanceRef BU27))
    )
   )
   (net (rename N137 "O<0>")
    (joined
      (portRef O_0_)
      (portRef O (instanceRef BU6))
    )
   )
   (net (rename N138 "O<1>")
    (joined
      (portRef O_1_)
      (portRef O (instanceRef BU13))
    )
   )
   (net (rename N139 "O<2>")
    (joined
      (portRef O_2_)
      (portRef O (instanceRef BU20))
    )
   )
   (net (rename N140 "O<3>")
    (joined
      (portRef O_3_)
      (portRef O (instanceRef BU27))
    )
   )
   (net N147
    (joined
      (portRef I0 (instanceRef BU6))
      (portRef O (instanceRef BU2))
    )
   )
   (net N149
    (joined
      (portRef I1 (instanceRef BU6))
      (portRef O (instanceRef BU5))
    )
   )
   (net N173
    (joined
      (portRef I0 (instanceRef BU2))
      (portRef O (instanceRef BU0))
    )
   )
   (net N174
    (joined
      (portRef I1 (instanceRef BU2))
      (portRef O (instanceRef BU1))
    )
   )
   (net N218
    (joined
      (portRef I0 (instanceRef BU5))
      (portRef O (instanceRef BU3))
    )
   )
   (net N219
    (joined
      (portRef I1 (instanceRef BU5))
      (portRef O (instanceRef BU4))
    )
   )
   (net N263
    (joined
      (portRef I0 (instanceRef BU13))
      (portRef O (instanceRef BU9))
    )
   )
   (net N265
    (joined
      (portRef I1 (instanceRef BU13))
      (portRef O (instanceRef BU12))
    )
   )
   (net N289
    (joined
      (portRef I0 (instanceRef BU9))
      (portRef O (instanceRef BU7))
    )
   )
   (net N290
    (joined
      (portRef I1 (instanceRef BU9))
      (portRef O (instanceRef BU8))
    )
   )
   (net N334
    (joined
      (portRef I0 (instanceRef BU12))
      (portRef O (instanceRef BU10))
    )
   )
   (net N335
    (joined
      (portRef I1 (instanceRef BU12))
      (portRef O (instanceRef BU11))
    )
   )
   (net N379
    (joined
      (portRef I0 (instanceRef BU20))
      (portRef O (instanceRef BU16))
    )
   )
   (net N381
    (joined
      (portRef I1 (instanceRef BU20))
      (portRef O (instanceRef BU19))
    )
   )
   (net N405
    (joined
      (portRef I0 (instanceRef BU16))
      (portRef O (instanceRef BU14))
    )
   )
   (net N406
    (joined
      (portRef I1 (instanceRef BU16))
      (portRef O (instanceRef BU15))
    )
   )
   (net N450
    (joined
      (portRef I0 (instanceRef BU19))
      (portRef O (instanceRef BU17))
    )
   )
   (net N451
    (joined
      (portRef I1 (instanceRef BU19))
      (portRef O (instanceRef BU18))
    )
   )
   (net N495
    (joined
      (portRef I0 (instanceRef BU27))
      (portRef O (instanceRef BU23))
    )
   )
   (net N497
    (joined
      (portRef I1 (instanceRef BU27))
      (portRef O (instanceRef BU26))
    )
   )
   (net N521
    (joined
      (portRef I0 (instanceRef BU23))
      (portRef O (instanceRef BU21))
    )
   )
   (net N522
    (joined
      (portRef I1 (instanceRef BU23))
      (portRef O (instanceRef BU22))
    )
   )
   (net N566
    (joined
      (portRef I0 (instanceRef BU26))
      (portRef O (instanceRef BU24))
    )
   )
   (net N567
    (joined
      (portRef I1 (instanceRef BU26))
      (portRef O (instanceRef BU25))
    )
   )
))))
(design mux8to1 (cellRef mux8to1 (libraryRef test_lib))
  (property PART (string "XCV100BG256") (owner "Xilinx")))
)
