(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2004 6 29 11 5 10)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 4.1i"))))
   (comment "This file is owned and controlled by Xilinx and must be used
solely for design, simulation, implementation and creation of design files
limited to Xilinx devices or technologies. Use with non-Xilinx devices or
technologies is expressly prohibited and immediately terminates your license.
Xilinx products are not intended for use in life support appliances, devices,
or systems. Use in such applications are expressly prohibited.
Copyright (C) 2001, Xilinx, Inc.  All Rights Reserved.")
   (comment "Core parameters: ")
       (comment "c_count_mode = 0 ")
       (comment "c_load_enable = true ")
       (comment "c_has_aset = false ")
       (comment "c_load_low = false ")
       (comment "c_count_to = 1010 ")
       (comment "c_sync_priority = 1 ")
       (comment "c_has_iv = false ")
       (comment "c_restrict_count = true ")
       (comment "c_has_sclr = false ")
       (comment "c_width = 4 ")
       (comment "c_has_q_thresh1 = false ")
       (comment "c_enable_rlocs = true ")
       (comment "c_has_q_thresh0 = false ")
       (comment "c_thresh1_value = 1111111111111111 ")
       (comment "c_has_load = false ")
       (comment "c_thresh_early = true ")
       (comment "c_has_up = false ")
       (comment "c_has_thresh1 = false ")
       (comment "c_has_thresh0 = false ")
       (comment "c_ainit_val = 0000 ")
       (comment "c_has_ce = true ")
       (comment "c_pipe_stages = 0 ")
       (comment "c_family = virtex ")
       (comment "InstanceName = counter_4 ")
       (comment "c_has_aclr = true ")
       (comment "c_sync_enable = 0 ")
       (comment "c_has_ainit = false ")
       (comment "c_sinit_val = 0 ")
       (comment "c_has_sset = false ")
       (comment "c_has_sinit = false ")
       (comment "c_count_by = 0001 ")
       (comment "c_has_l = false ")
       (comment "c_thresh0_value = 1111111111111111 ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell FDCE (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port D (direction INPUT))
                   (port C (direction INPUT))
                   (port CE (direction INPUT))
                   (port CLR (direction INPUT))
                   (port Q (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell MUXCY (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port DI (direction INPUT))
                   (port CI (direction INPUT))
                   (port S (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
       (cell XORCY (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port LI (direction INPUT))
                   (port CI (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell counter_4
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename CLK "CLK") (direction INPUT))
   (port ( rename CE "CE") (direction INPUT))
   (port ( rename ACLR "ACLR") (direction INPUT))
   (port ( rename Q_0_ "Q<0>") (direction OUTPUT))
   (port ( rename Q_1_ "Q<1>") (direction OUTPUT))
   (port ( rename Q_2_ "Q<2>") (direction OUTPUT))
   (port ( rename Q_3_ "Q<3>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU0
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "8888"))
   )
   (instance BU1
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "0020"))
   )
   (instance BU2
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
   )
   (instance BU3
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "eeee"))
   )
   (instance BU4
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "5555"))
   )
   (instance BU5
      (viewRef view_1 (cellRef MUXCY (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
   )
   (instance BU6
      (viewRef view_1 (cellRef XORCY (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
   )
   (instance BU7
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S0"))
      (property INIT (string "2222"))
   )
   (instance BU8
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S0"))
   )
   (instance BU9
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "aaaa"))
   )
   (instance BU10
      (viewRef view_1 (cellRef MUXCY (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
   )
   (instance BU11
      (viewRef view_1 (cellRef XORCY (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
   )
   (instance BU12
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
      (property INIT (string "2222"))
   )
   (instance BU13
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
   )
   (instance BU14
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "aaaa"))
   )
   (instance BU15
      (viewRef view_1 (cellRef MUXCY (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
   )
   (instance BU16
      (viewRef view_1 (cellRef XORCY (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
   )
   (instance BU17
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
      (property INIT (string "2222"))
   )
   (instance BU18
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S0"))
   )
   (instance BU19
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "aaaa"))
   )
   (instance BU20
      (viewRef view_1 (cellRef XORCY (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
   )
   (instance BU21
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S0"))
      (property INIT (string "2222"))
   )
   (instance BU22
      (viewRef view_1 (cellRef FDCE (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S0"))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef CI (instanceRef BU5))
      (portRef CI (instanceRef BU6))
      (portRef I2 (instanceRef BU0))
      (portRef I3 (instanceRef BU0))
      (portRef I2 (instanceRef BU3))
      (portRef I3 (instanceRef BU3))
      (portRef I1 (instanceRef BU4))
      (portRef I2 (instanceRef BU4))
      (portRef I3 (instanceRef BU4))
      (portRef I2 (instanceRef BU7))
      (portRef I3 (instanceRef BU7))
      (portRef I1 (instanceRef BU9))
      (portRef I2 (instanceRef BU9))
      (portRef I3 (instanceRef BU9))
      (portRef I2 (instanceRef BU12))
      (portRef I3 (instanceRef BU12))
      (portRef I1 (instanceRef BU14))
      (portRef I2 (instanceRef BU14))
      (portRef I3 (instanceRef BU14))
      (portRef I2 (instanceRef BU17))
      (portRef I3 (instanceRef BU17))
      (portRef I1 (instanceRef BU19))
      (portRef I2 (instanceRef BU19))
      (portRef I3 (instanceRef BU19))
      (portRef I2 (instanceRef BU21))
      (portRef I3 (instanceRef BU21))
    )
   )
   (net N2
    (joined
      (portRef I3 (instanceRef BU1))
      (portRef O (instanceRef BU6))
      (portRef I0 (instanceRef BU7))
    )
   )
   (net N3
    (joined
      (portRef I2 (instanceRef BU1))
      (portRef O (instanceRef BU11))
      (portRef I0 (instanceRef BU12))
    )
   )
   (net N4
    (joined
      (portRef I1 (instanceRef BU1))
      (portRef O (instanceRef BU16))
      (portRef I0 (instanceRef BU17))
    )
   )
   (net N5
    (joined
      (portRef I0 (instanceRef BU1))
      (portRef O (instanceRef BU20))
      (portRef I0 (instanceRef BU21))
    )
   )
   (net N6
    (joined
      (portRef I0 (instanceRef BU0))
      (portRef Q (instanceRef BU2))
    )
   )
   (net N7
    (joined
      (portRef O (instanceRef BU0))
      (portRef I1 (instanceRef BU3))
      (portRef I1 (instanceRef BU7))
      (portRef I1 (instanceRef BU12))
      (portRef I1 (instanceRef BU17))
      (portRef I1 (instanceRef BU21))
    )
   )
   (net (rename N8 "Q<0>")
    (joined
      (portRef Q_0_)
      (portRef DI (instanceRef BU5))
      (portRef I0 (instanceRef BU4))
      (portRef Q (instanceRef BU8))
    )
   )
   (net (rename N9 "Q<1>")
    (joined
      (portRef Q_1_)
      (portRef DI (instanceRef BU10))
      (portRef I0 (instanceRef BU9))
      (portRef Q (instanceRef BU13))
    )
   )
   (net (rename N10 "Q<2>")
    (joined
      (portRef Q_2_)
      (portRef DI (instanceRef BU15))
      (portRef I0 (instanceRef BU14))
      (portRef Q (instanceRef BU18))
    )
   )
   (net (rename N11 "Q<3>")
    (joined
      (portRef Q_3_)
      (portRef I0 (instanceRef BU19))
      (portRef Q (instanceRef BU22))
    )
   )
   (net (rename N12 "CLK")
    (joined
      (portRef CLK)
      (portRef C (instanceRef BU2))
      (portRef C (instanceRef BU8))
      (portRef C (instanceRef BU13))
      (portRef C (instanceRef BU18))
      (portRef C (instanceRef BU22))
    )
   )
   (net (rename N13 "CE")
    (joined
      (portRef CE)
      (portRef I1 (instanceRef BU0))
      (portRef CE (instanceRef BU2))
      (portRef I0 (instanceRef BU3))
    )
   )
   (net (rename N14 "ACLR")
    (joined
      (portRef ACLR)
      (portRef CLR (instanceRef BU2))
      (portRef CLR (instanceRef BU8))
      (portRef CLR (instanceRef BU13))
      (portRef CLR (instanceRef BU18))
      (portRef CLR (instanceRef BU22))
    )
   )
   (net N48
    (joined
      (portRef D (instanceRef BU2))
      (portRef O (instanceRef BU1))
    )
   )
   (net N62
    (joined
      (portRef O (instanceRef BU3))
      (portRef CE (instanceRef BU8))
      (portRef CE (instanceRef BU13))
      (portRef CE (instanceRef BU18))
      (portRef CE (instanceRef BU22))
    )
   )
   (net N63
    (joined
      (portRef S (instanceRef BU5))
      (portRef LI (instanceRef BU6))
      (portRef O (instanceRef BU4))
    )
   )
   (net N65
    (joined
      (portRef O (instanceRef BU5))
      (portRef CI (instanceRef BU10))
      (portRef CI (instanceRef BU11))
    )
   )
   (net N68
    (joined
      (portRef S (instanceRef BU10))
      (portRef LI (instanceRef BU11))
      (portRef O (instanceRef BU9))
    )
   )
   (net N70
    (joined
      (portRef O (instanceRef BU10))
      (portRef CI (instanceRef BU15))
      (portRef CI (instanceRef BU16))
    )
   )
   (net N73
    (joined
      (portRef S (instanceRef BU15))
      (portRef LI (instanceRef BU16))
      (portRef O (instanceRef BU14))
    )
   )
   (net N75
    (joined
      (portRef O (instanceRef BU15))
      (portRef CI (instanceRef BU20))
    )
   )
   (net N78
    (joined
      (portRef LI (instanceRef BU20))
      (portRef O (instanceRef BU19))
    )
   )
   (net N108
    (joined
      (portRef D (instanceRef BU8))
      (portRef O (instanceRef BU7))
    )
   )
   (net N125
    (joined
      (portRef D (instanceRef BU13))
      (portRef O (instanceRef BU12))
    )
   )
   (net N142
    (joined
      (portRef D (instanceRef BU18))
      (portRef O (instanceRef BU17))
    )
   )
   (net N159
    (joined
      (portRef D (instanceRef BU22))
      (portRef O (instanceRef BU21))
    )
   )
))))
(design counter_4 (cellRef counter_4 (libraryRef test_lib))
  (property PART (string "XCV100BG256") (owner "Xilinx")))
)
