SCHEMATIC START ;
// created by map version E.30 on Thu Jul 01 12:13:39 2004 
COMP "clk" LOCATE = SITE "P89" LEVEL 1; 
COMP "outq0" LOCATE = SITE "P168" LEVEL 1; 
COMP "outq1" LOCATE = SITE "P173" LEVEL 1; 
COMP "outq2" LOCATE = SITE "P131" LEVEL 1; 
COMP "outq3" LOCATE = SITE "P171" LEVEL 1; 
COMP "lhex0" LOCATE = SITE "P177" LEVEL 1; 
COMP "lhex1" LOCATE = SITE "P167" LEVEL 1; 
COMP "lhex2" LOCATE = SITE "P163" LEVEL 1; 
COMP "lhex3" LOCATE = SITE "P156" LEVEL 1; 
COMP "lhex4" LOCATE = SITE "P145" LEVEL 1; 
COMP "lhex5" LOCATE = SITE "P138" LEVEL 1; 
COMP "lhex6" LOCATE = SITE "P134" LEVEL 1; 
COMP "resetn" LOCATE = SITE "P174" LEVEL 1; 
COMP "load" LOCATE = SITE "P161" LEVEL 1; 
SCHEMATIC END ;
