(edif test (edifVersion 2 0 0) (edifLevel 0) (keywordMap (keywordLevel 0))
(status (written (timeStamp 2004 7 15 16 54 57)
   (author "Xilinx, Inc.")
   (program "Xilinx CORE Generator" (version "Xilinx CORE Generator 4.1i"))))
   (comment "This file is owned and controlled by Xilinx and must be used
solely for design, simulation, implementation and creation of design files
limited to Xilinx devices or technologies. Use with non-Xilinx devices or
technologies is expressly prohibited and immediately terminates your license.
Xilinx products are not intended for use in life support appliances, devices,
or systems. Use in such applications are expressly prohibited.
Copyright (C) 2001, Xilinx, Inc.  All Rights Reserved.")
   (comment "Core parameters: ")
       (comment "c_out_width = 8 ")
       (comment "c_has_aset = false ")
       (comment "c_has_en = false ")
       (comment "c_sync_priority = 1 ")
       (comment "c_has_sclr = false ")
       (comment "c_out_high = true ")
       (comment "c_enable_rlocs = true ")
       (comment "c_sel_width = 3 ")
       (comment "c_ainit_val = 00000000 ")
       (comment "c_has_ce = false ")
       (comment "c_pipe_stages = 0 ")
       (comment "c_family = virtex ")
       (comment "InstanceName = busdec16 ")
       (comment "c_has_aclr = false ")
       (comment "c_sync_enable = 0 ")
       (comment "c_has_ainit = false ")
       (comment "c_sinit_val = 0 ")
       (comment "c_has_sset = false ")
       (comment "c_has_sinit = false ")
       (comment "c_has_q = false ")
       (comment "c_has_o = true ")
   (external xilinxun (edifLevel 0)
      (technology (numberDefinition))
       (cell VCC (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port P (direction OUTPUT))
               )
           )
       )
       (cell GND (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port G (direction OUTPUT))
               )
           )
       )
       (cell LUT4 (cellType GENERIC)
           (view view_1 (viewType NETLIST)
               (interface
                   (port I0 (direction INPUT))
                   (port I1 (direction INPUT))
                   (port I2 (direction INPUT))
                   (port I3 (direction INPUT))
                   (port O (direction OUTPUT))
               )
           )
       )
   )
(library test_lib (edifLevel 0) (technology (numberDefinition (scale 1 (E 1 -12) (unit Time))))
(cell busdec16
 (cellType GENERIC) (view view_1 (viewType NETLIST)
  (interface
   (port ( rename S_0_ "S<0>") (direction INPUT))
   (port ( rename S_1_ "S<1>") (direction INPUT))
   (port ( rename S_2_ "S<2>") (direction INPUT))
   (port ( rename O_0_ "O<0>") (direction OUTPUT))
   (port ( rename O_1_ "O<1>") (direction OUTPUT))
   (port ( rename O_2_ "O<2>") (direction OUTPUT))
   (port ( rename O_3_ "O<3>") (direction OUTPUT))
   (port ( rename O_4_ "O<4>") (direction OUTPUT))
   (port ( rename O_5_ "O<5>") (direction OUTPUT))
   (port ( rename O_6_ "O<6>") (direction OUTPUT))
   (port ( rename O_7_ "O<7>") (direction OUTPUT))
   )
  (contents
   (instance VCC (viewRef view_1 (cellRef VCC  (libraryRef xilinxun))))
   (instance GND (viewRef view_1 (cellRef GND  (libraryRef xilinxun))))
   (instance BU0
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "0101"))
   )
   (instance BU1
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r3c0.S1"))
      (property INIT (string "1010"))
   )
   (instance BU2
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "0404"))
   )
   (instance BU3
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r2c0.S1"))
      (property INIT (string "4040"))
   )
   (instance BU4
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "0202"))
   )
   (instance BU5
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r1c0.S1"))
      (property INIT (string "2020"))
   )
   (instance BU6
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "0808"))
   )
   (instance BU7
      (viewRef view_1 (cellRef LUT4 (libraryRef xilinxun)))
      (property RLOC (string "r0c0.S1"))
      (property INIT (string "8080"))
   )
   (net N0
    (joined
      (portRef G (instanceRef GND))
      (portRef I3 (instanceRef BU0))
      (portRef I3 (instanceRef BU1))
      (portRef I3 (instanceRef BU2))
      (portRef I3 (instanceRef BU3))
      (portRef I3 (instanceRef BU4))
      (portRef I3 (instanceRef BU5))
      (portRef I3 (instanceRef BU6))
      (portRef I3 (instanceRef BU7))
    )
   )
   (net (rename N19 "S<0>")
    (joined
      (portRef S_0_)
      (portRef I2 (instanceRef BU0))
      (portRef I2 (instanceRef BU1))
      (portRef I2 (instanceRef BU2))
      (portRef I2 (instanceRef BU3))
      (portRef I2 (instanceRef BU4))
      (portRef I2 (instanceRef BU5))
      (portRef I2 (instanceRef BU6))
      (portRef I2 (instanceRef BU7))
    )
   )
   (net (rename N20 "S<1>")
    (joined
      (portRef S_1_)
      (portRef I1 (instanceRef BU0))
      (portRef I1 (instanceRef BU1))
      (portRef I1 (instanceRef BU2))
      (portRef I1 (instanceRef BU3))
      (portRef I1 (instanceRef BU4))
      (portRef I1 (instanceRef BU5))
      (portRef I1 (instanceRef BU6))
      (portRef I1 (instanceRef BU7))
    )
   )
   (net (rename N21 "S<2>")
    (joined
      (portRef S_2_)
      (portRef I0 (instanceRef BU0))
      (portRef I0 (instanceRef BU1))
      (portRef I0 (instanceRef BU2))
      (portRef I0 (instanceRef BU3))
      (portRef I0 (instanceRef BU4))
      (portRef I0 (instanceRef BU5))
      (portRef I0 (instanceRef BU6))
      (portRef I0 (instanceRef BU7))
    )
   )
   (net (rename N22 "O<0>")
    (joined
      (portRef O_0_)
      (portRef O (instanceRef BU0))
    )
   )
   (net (rename N23 "O<1>")
    (joined
      (portRef O_1_)
      (portRef O (instanceRef BU1))
    )
   )
   (net (rename N24 "O<2>")
    (joined
      (portRef O_2_)
      (portRef O (instanceRef BU2))
    )
   )
   (net (rename N25 "O<3>")
    (joined
      (portRef O_3_)
      (portRef O (instanceRef BU3))
    )
   )
   (net (rename N26 "O<4>")
    (joined
      (portRef O_4_)
      (portRef O (instanceRef BU4))
    )
   )
   (net (rename N27 "O<5>")
    (joined
      (portRef O_5_)
      (portRef O (instanceRef BU5))
    )
   )
   (net (rename N28 "O<6>")
    (joined
      (portRef O_6_)
      (portRef O (instanceRef BU6))
    )
   )
   (net (rename N29 "O<7>")
    (joined
      (portRef O_7_)
      (portRef O (instanceRef BU7))
    )
   )
))))
(design busdec16 (cellRef busdec16 (libraryRef test_lib))
  (property PART (string "XCV100BG256") (owner "Xilinx")))
)
